:root {
    --dodgeblue-hover: #187bcd;
    --dodgeblue-active: #1565C0;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}
  
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/static/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Padrão */
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

#content {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    max-width: 1920px;
    margin: 0 auto;
    background-color: var(--dodgeblue-active);
    overflow: auto;
    color: white;
}

h1 {
    font-size: clamp(12px, 2vw, 48px);
    margin: 2%;
    text-align: center;
}

#fullscreen-btn {
    position: fixed;
    top: 1vw;
    right: 1vw;
    z-index: 1000;
    padding: 0.5% 1%;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1vw;
}

@media (max-width: 768px) {
    #content {
        overflow-y: auto; /* Permite scroll vertical em mobile */
    }
}